/* Ensure the body takes the full height of the viewport */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Centering the login-container div */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Styling the login modal */
.login-modal {
    background-color: white; /* Modal background color */
    padding: 70px; /* More padding for modern look */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 400px; /* Max width for modal */
    width: 90%; /* Responsive width */
    text-align: center; /* Center align text */
}

.login-modal h1 {
    margin-bottom: 20px;
    font-size: 24px; /* Larger font size */
    color: #333; /* Darker text color */
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px 15px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; /* Larger input text */
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

button {
    width: 100%;
    padding: 12px 15px;
    background-color: #3A0CA3; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Larger button text */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #3A0CA3;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition on hover */
}

.signup-link a:hover {
    color: #0056b3; /* Darker link color on hover */
}
