body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #0275d8;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

.table {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #0275d8;
    color: #ffffff;
}


.table-actions .btn-link {
    color: #0275d8;
}

.table-actions .btn-link:hover {
    color: #007bff;
}

.modal-header {
    background-color: #0275d8;
    color: #ffffff;
}

.modal-footer .btn-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-control {
    border-radius: 0.25rem;
}

.input-group .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-group .btn-outline-primary {
    border-radius: 0 0.25rem 0.25rem 0;
    border-color: #0275d8;
    color: #0275d8;
}

.input-group .btn-outline-primary:hover {
    background-color:#0275d8;
    color: #ffffff;
}

.alert {
    border-radius: 0.25rem;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}






#0275d8
