/*body {*/
/*    background-color: #f8f9fa;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

/*.container {*/
/*    max-width: 1200px;*/
/*    margin: auto;*/
/*}*/

/*.navbar {*/
/*    background-color: #F5FEFD;*/
/*}*/



/*.nav-item i {*/

/*    color: #0275d8;*/
/*    font-size: 20px;*/
/*    cursor: pointer;*/
/*}*/

/*.table {*/
/*    background-color: #ffffff;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    overflow: hidden;*/
/*}*/

/*.table th, .table td {*/
/*    vertical-align: middle;*/
/*}*/

/*.table thead th {*/
/*    background-color: #0275d8;*/
/*    color: #ffffff;*/
/*}*/

/*.table-actions button {*/
/*    color: #0275d8;*/
/*    background: none;*/
/*    border: none;*/
/*    padding: 0;*/
/*    cursor: pointer;*/
/*}*/

/*.table-actions button:hover {*/
/*    color: #012269;*/

/*}*/


/*.modal-header {*/
/*    background-color: #0275d8;*/
/*    color: #ffffff;*/
/*}*/

/*.modal-footer button {*/
/*    margin-left: 10px;*/
/*}*/


/*#filter {*/
/*    max-width: 300px;*/
/*    margin: 0 auto 20px;*/
/*}*/



/*!* Responsiveness *!*/
/*@media (max-width: 767px) {*/
/*    .navbar-brand {*/
/*        font-size: 18px;*/
/*    }*/

/*    .table {*/
/*        font-size: 14px;*/
/*    }*/

/*    .table-actions button {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/



/*!* Custom Button Styles *!*/
/*.custom-btn {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    border-radius: 5px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.custom-btn-primary {*/
/*    background-color: #007bff;*/
/*    color: #ffffff;*/
/*}*/

/*.custom-btn-secondary {*/
/*    background-color: #6c757d;*/
/*    color: #ffffff;*/
/*}*/

/*.custom-btn:hover {*/
/*    opacity: 0.8;*/
/*}*/

/*.add-button {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 10px 20px;*/
/*    border-radius: 5px;*/

/*    color: #0E0E52;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.add-button:hover {*/
/*    background-color: #0056b3;*/
/*}*/

/*.add-button:hover .fas {*/
/*    transform: rotate(45deg);*/
/*}*/

/*.add-button .fas {*/
/*    margin-right: 5px;*/
/*    transition: transform 0.3s ease;*/
/*}*/


/*body {*/
/*     background-color: #f8f9fa;*/
/*     font-family: 'Montserrat', sans-serif;*/
/* }*/

/*.container {*/
/*    max-width: 1200px;*/
/*    margin: auto;*/
/*}*/

/*.table {*/
/*    background-color: #ffffff;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    overflow: hidden;*/
/*}*/

/*.table th, .table td {*/
/*    vertical-align: middle;*/
/*}*/

/*.table thead th {*/
/*    background-color: #0275d8;*/
/*    color: #ffffff;*/
/*}*/

/*.table-actions button {*/
/*    color: #0275d8;*/
/*    background: none;*/
/*    border: none;*/
/*    padding: 0;*/
/*    cursor: pointer;*/
/*}*/

/*.table-actions button:hover {*/
/*    color: #0056b3;*/
/*}*/


/*.modal-header {*/
/*    background-color: #0275d8  ;*/
/*    color: #ffffff;*/
/*}*/

/*.modal-footer button {*/
/*    margin-left: 10px;*/
/*}*/


/*#filter {*/
/*    max-width: 300px;*/
/*    margin: 0 auto 20px;*/
/*}*/



/*!* Responsiveness *!*/
/*@media (max-width: 767px) {*/
/*    .navbar-brand {*/
/*        font-size: 18px;*/
/*    }*/

/*    .table {*/
/*        font-size: 14px;*/
/*    }*/

/*    .table-actions button {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/



/*!* Custom Button Styles *!*/
/*.custom-btn {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    border-radius: 5px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.custom-btn-primary {*/
/*    background-color: #007bff;*/
/*    color: #ffffff;*/
/*}*/

/*.custom-btn-secondary {*/
/*    background-color: #6c757d;*/
/*    color: #ffffff;*/
/*}*/

/*.custom-btn:hover {*/
/*    opacity: 0.8;*/
/*}*/

/*.add-button {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 10px 20px;*/
/*    border-radius: 5px;*/
/*    color: #012269;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/





/*.add-button:hover .fas {*/
/*    transform: rotate(45deg);*/
/*}*/

/*.add-button .fas {*/
/*    margin-right: 5px;*/
/*    transition: transform 0.3s ease;*/
/*}*/


/*.navbar-brand {*/
/*    font-size: 1.1rem;*/
/*}*/

/*.nav-link {*/
/*    color: #0884c4;*/
/*}*/

/*.nav-link:hover {*/
/*    color: #012269;*/
/*}*/

/*.navbar .container-fluid{*/
/*    justify-content: space-between;*/
/*}*/









body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #0275d8;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

.table {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #0275d8;
    color: #ffffff;
}


.table-actions .btn-link {
    color: #0275d8;
}

.table-actions .btn-link:hover {
    color: #007bff;
}

.modal-header {
    background-color: #0275d8;
    color: #ffffff;
}

.modal-footer .btn-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-control {
    border-radius: 0.25rem;
}

.input-group .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-group .btn-outline-primary {
    border-radius: 0 0.25rem 0.25rem 0;
    border-color: #0275d8;
    color: #0275d8;
}

.input-group .btn-outline-primary:hover {
    background-color:#0275d8;
    color: #ffffff;
}

.alert {
    border-radius: 0.25rem;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}






#0275d8
