/*!* Custom Styles *!*/

/*.navbar {*/
/*    background-color: #F5FEFD;*/
/*}*/

/*.grid-container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
/*    gap: 20px;*/
/*}*/

/*.card {*/
/*    background-color: #fff;*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*    transition: transform 0.3s ease-in-out;*/
/*}*/

/*.card:hover {*/
/*    transform: translateY(-5px);*/
/*}*/

/*.card-img-top {*/
/*    border-top-left-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*    height: 200px;*/
/*    object-fit: cover;*/
/*}*/

/*.card-body {*/
/*    padding: 20px;*/
/*}*/

/*.card-title {*/
/*    font-size: 1.25rem;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.card-text {*/
/*    font-size: 0.875rem;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.card-footer {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 10px 20px;*/
/*    background-color: #f8f9fa;*/
/*    border-bottom-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*}*/

/*.badge {*/
/*    background-color: black;*/
/*}*/












/* Custom Styles */

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #0275d8;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

.nav-link, .navbar-brand {
    color: #fff !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: #f8f9fa !important;
}

.card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.875rem;
    margin-bottom: 10px;
}

.card-footer {
    background-color: #f8f9fa;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 20px;
}

