/* Reset default browser styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ece9e6, #ffffff);
}

/* Center content vertically and horizontally */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

nav {
    background-color: #0E0E52;
    color: white;
    padding: 15px;
    text-align: start;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
/* Modal styling */
.signup-modal {
    background-color: white;
    padding: 50px; /* Adjusted padding */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styling */
.modal-header {
    margin-bottom: 17px;
}

.modal-header h1 {
    font-size: 24px;
    color: #333;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Form control styling */
.form-control {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Button styling */
.submit-btn {
    padding: 12px;
    background-color: #0E0E52;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Adjusted width */
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Link styling */
.link {
    margin-top: 20px;
    font-size: 14px;
}

.link a {
    color: #0E0E52;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #0056b3;
}
