<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>
<body>

<!--<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #012269;">-->
<!--    <div class="container-fluid">-->
<!--        &lt;!&ndash;        <a class="navbar-brand" style="font-size: 17px" href="#">IDEAL GROUP OF COMPANIES</a>&ndash;&gt;-->
<!--        <a class="navbar-brand" href="#">-->
<!--            <img th:src="@{/images/index.jpg}" alt="Logo" style="height: 100px;">-->
<!--        </a>-->
<!--        <div class="navbar-nav ml-auto">-->
<!--            <span class="navbar-text me-3" th:text="${loggedInUserRole}"></span>-->
<!--            <a href="/procureapp/users">USERS&nbsp;</a>-->
<!--            &lt;!&ndash; Add User and Add Item buttons/icons &ndash;&gt;-->
<!--            &lt;!&ndash;            <i class="material-icons" onclick="openAddUserModal()">person_add</i>&ndash;&gt;-->
<!--            <a class="material-icons" href="/procureapp/logout"> <i class="material-icons">exit_to_app</i></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-between">
        <div class="image-container">
            <a class="image" href="#">
                <img src="/images/index.jpg" alt="Logo" style="height: 60px;">
            </a>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter By
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/procureapp/users">All Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:text="${loggedInUserRole}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/procureapp/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="container mt-4">
    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <input type="text" id="filter" class="form-control" placeholder="Filter inventory...">
                <div class="input-group-append">
                    <i class="fas fa-plus add-button" onclick="openAddModal()">Add Inventory</i>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${param.success}">
        <div class="alert alert-success" role="alert">
            User added successfully!
        </div>
    </div>

    <div th:if="${param.error}">
        <div class="alert alert-danger" role="alert">
            Failed to add user. Please try again.
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Asset Type</th>
            <th>Tag</th>
            <th>Description</th>
            <th>Date Purchased</th>
            <th>Status</th>
            <th>Added By</th>
            <th>Updated By</th>
            <th>Maintenance Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="itemTable">
        <tr th:each="item : ${items}">
<!--            <td th:text="${item.id}"></td>-->
            <td th:id="'asset_' + ${item.id}" th:text="${item.asset}"></td>
            <td th:id="'brand_' + ${item.id}" th:text="${item.brand}"></td>
            <td th:id="'typeOfAsset_' + ${item.id}" th:text="${item.typeOfAsset}"></td>
            <td th:id="'tag_' + ${item.id}" th:text="${item.tag}"></td>
            <td th:id="'description_' + ${item.id}" th:text="${item.description}"></td>
            <td th:id="'created_' + ${item.id}" th:text="${#temporals.format(item.created, 'E, d MMMM, yyyy')}"></td>
            <td th:id="'status_' + ${item.id}" th:text="${item.status}"></td>
            <td th:id="'addedBy_' + ${item.id}" th:text="${item.addedBy}"></td>
            <td th:id="'updatedBy_' + ${item.id}" th:text="${item.updatedBy}"></td>
            <td th:id="'maintenanceDate_' + ${item.id}" th:text="${#temporals.format(item.maintenanceDate, 'E, d MMMM, yyyy')}"></td>

            <td class="table-actions">
                <button th:data-id="${item.id}" onclick="openUpdateModal(this)" class="btn btn-link">
                    <i class="fas fa-edit"></i>
                </button>
                <button th:data-id="${item.id}" onclick="deleteItem(this)" class="btn btn-link">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Add Item Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Add New Asset</h5>
            </div>
            <form id="addItemForm" action="/procureapp/items/add" class="ajax-form" method="post"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="asset">Asset:</label>
                        <input type="text" id="asset" name="asset" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="brand">Brand:</label>
                        <input type="text" id="brand" name="brand" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <select id="typeOfAsset" name="typeOfAsset" class="form-control" required>
                            <option value="">Select Type of Asset</option>
                            <option value="CA">Computer Asset</option>
                            <option value="FF">Furniture and Fitting</option>
                            <option value="TA">Transportation Asset</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="serialNum">Serial No:</label>
                        <input type="text" id="serialNum" name="serialNum" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="created">Date Purchased:</label>
                        <input type="date" id="created" name="created" required class="form-control"></input>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" required class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">

                <!-- Form for adding a user -->
                <form th:action="@{/procureapp/add-user}" th:object="${user}" method="post">
                    <!-- Form fields for user details -->
                    <div class="form-group">
                        <input type="text" id="firstName" th:field="*{firstName}" placeholder="Firstname"
                               class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" id="surname" th:field="*{surname}" placeholder="Surname" class="form-control"
                               required/>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" th:field="*{email}" placeholder="Email" class="form-control"
                               required/>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" th:field="*{password}" placeholder="Password"
                               class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <select id="roles" name="roles" class="form-control" required>
                            <option value="">Select Role</option>
                            <option value="ADMIN">Admin</option>
                            <option value="USER">User</option>
                        </select>
                    </div>
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <!-- Close Button -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Update Item Modal -->
<div class="modal fade" id="updateItemModal" tabindex="-1" role="dialog" aria-labelledby="updateItemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateItemModalLabel">Update Item</h5>
            </div>
            <form id="updateItemForm" class="ajax-form" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="updateItemId" name="id"/>
                    <div class="form-group">
                        <label for="updateAsset">Asset:</label>
                        <input type="text" id="updateAsset" name="asset" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="updateBrand">Brand:</label>
                        <input type="text" id="updateBrand" name="brand" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="UpdateMaintenanceDate">Maintenance Date:</label>
                        <input type="date" id="UpdateMaintenanceDate" name="maintenanceDate"  class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="updateDescription">Description:</label>
                        <textarea id="updateDescription" name="description" required class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="updateStatus">Status:</label>
                        <select id="updateStatus" name="status" class="form-control" required>
                            <option value="">Select Status</option>
                            <option value="Assigned">Assigned</option>
                            <option value="Unassigned">UnAssigned</option>
                            <option value="In Maintenance">In Maintenance</option>
                            <option value="End of Life">End of Life</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="UpdateCreated">Date Purchased:</label>
                        <input type="date" id="UpdateCreated" name="created"  class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Error Message Model-->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title " id="errorModalLabel">Warning</h5>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

    function openAddModal() {
        $('#addItemModal').modal('show');
    }

    function openAddUserModal() {
        $('#addUserModal').modal('show');
    }

    function showErrorModal(message) {
        document.getElementById('errorMessage').innerText = message;
        $('#errorModal').modal('show');
    }

    function openUpdateModal(button) {
        const itemId = button.getAttribute('data-id');
        document.getElementById('updateItemId').value = itemId;
        const asset = document.getElementById('asset_' + itemId).innerText.trim();
        const brand = document.getElementById('brand_' + itemId).innerText.trim();
        const description = document.getElementById('description_' + itemId).innerText.trim();
        const maintenanceDate = document.getElementById('maintenanceDate_' + itemId).innerText.trim();
        const created = document.getElementById('created_' + itemId).innerText.trim();
        const status = document.getElementById('status_' + itemId).innerText.trim();
        document.getElementById('updateAsset').value = asset;
        document.getElementById('updateBrand').value = brand;
        document.getElementById('UpdateMaintenanceDate').value = maintenanceDate;
        document.getElementById('UpdateCreated').value = created;
        document.getElementById('updateDescription').value = description;
        document.getElementById('updateStatus').value = status;
        document.getElementById('updateItemForm').action = '/procureapp/items/update?id=' + itemId;
        $('#updateItemModal').modal('show');
    }

    async function deleteItem(button) {
        const itemId = button.getAttribute('data-id');
        try {
            const response = await fetch('/procureapp/items/delete?id=' + itemId, {method: 'POST'});
            if (response.ok) {
                window.location.reload();
            } else {
                if (response.status === 403) {
                    showErrorModal('Only super admins are permitted to delete an item');
                } else {
                    const errorText = await response.text();
                    showErrorModal('Error occurred while processing the request: ' + errorText);
                }
            }
        } catch (error) {
            showErrorModal('Error occurred while processing the request: ' + error);
        }
    }


    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.ajax-form').forEach(form => {
            form.addEventListener('submit', async function (e) {
                e.preventDefault();
                const formData = new FormData(this);
                try {
                    const response = await fetch(this.action, {
                        method: 'POST',
                        body: formData
                    });
                    if (response.ok) {
                        $('.modal').modal('hide');
                        window.location.reload();
                    } else {
                        const errorText = await response.text();
                        console.error(errorText);
                        alert('Error occurred while processing the request: ' + errorText);
                    }
                } catch (error) {
                    console.error(error);
                    alert('Error occurred while processing the request: ' + error);
                }
            });
        });

        document.getElementById('nav-link').addEventListener('input', function () {
            const filterText = this.value.toLowerCase();
            document.querySelectorAll('#itemTable tr').forEach(row => {
                const asset = row.querySelector('td:nth-child(1)').innerText.toLowerCase();
                const typeOfAsset = row.querySelector('td:nth-child(3)').innerText.toLowerCase();
                row.style.display = (asset.includes(filterText) || typeOfAsset.includes(filterText)) ? '' : 'none';
            });
        });
    });
</script>
</body>
</html>
