<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <title>Inventory Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/procureapp/items">
            <img src="/images/enterprise-logo.png" alt="Logo" style="height: 50px; width: auto;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter By
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#filterDatePurchasedModal">Purchased Date</a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#filterMaintenanceDateModal">Maintenance Date</a>
                        <a class="dropdown-item" href="/procureapp/items/status/assigned" >Assigned</a>
                        <a class="dropdown-item" href="/procureapp/items/status/unassigned" >Un-Assigned</a>
                        <a class="dropdown-item" href="/procureapp/items/status/maintenance" >In Maintenance</a>
                        <a class="dropdown-item" href="/procureapp/items/status/end-of-life" >End of Life</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:text="${loggedInUser}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/procureapp/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="text-center mb-4">
        <h2>Inventory</h2>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4" th:each="item : ${items}">
            <div class="card h-100 shadow-sm">
                <img class="card-img-top" th:src="${item.photo}" alt="Item Photo">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.asset}">Asset</h5>
                    <p class="card-text">Brand: <span th:text="${item.brand}">Brand</span></p>
                    <p class="card-text">Type of Asset: <span th:text="${item.typeOfAsset}">Type of Asset</span></p>
                    <p class="card-text">Description: <span th:text="${item.description}">Description</span></p>
                    <p class="card-text">Maintenance Date: <span th:text="${#temporals.format(item.maintenanceDate, 'E, d MMMM, yyyy')}">Maintenance Date</span></p>
                    <p class="card-text">Date Purchased: <span th:text="${#temporals.format(item.created, 'E, d MMMM, yyyy')}">Date Purchased</span></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted" th:text="'Tag: ' + ${item.tag}">Item Tag</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Filter by Date Purchased Modal -->
<div class="modal fade" id="filterDatePurchasedModal" tabindex="-1" role="dialog" aria-labelledby="filterDatePurchasedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterDatePurchasedModalLabel">Date Purchased</h5>
            </div>
            <div class="modal-body">
                <form id="filterDatePurchasedForm" method="get" onsubmit="filterByDatePurchased(event)">
                    <div class="form-group">
                        <label for="startDatePurchased">Start Date:</label>
                        <input type="date" id="startDatePurchased" name="startDatePurchased" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="endDatePurchased">End Date:</label>
                        <input type="date" id="endDatePurchased" name="endDatePurchased" required class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="filterDatePurchasedForm" class="btn btn-primary">Filter</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Filter by Maintenance Date Modal -->
<div class="modal fade" id="filterMaintenanceDateModal" tabindex="-1" role="dialog" aria-labelledby="filterMaintenanceDateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterMaintenanceDateModalLabel">Maintenance Date</h5>
            </div>
            <div class="modal-body">
                <form id="filterMaintenanceDateForm" method="get" onsubmit="filterByMaintenanceDate(event)">
                    <div class="form-group">
                        <label for="startDateMaintenance">Start Date:</label>
                        <input type="date" id="startDateMaintenance" name="startDateMaintenance" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="endDateMaintenance">End Date:</label>
                        <input type="date" id="endDateMaintenance" name="endDateMaintenance" required class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="filterMaintenanceDateForm" class="btn btn-primary">Filter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
            function filterByDatePurchased(event) {
            event.preventDefault();

            // Get the start and end dates
            var startDate = document.getElementById("startDatePurchased").value;
            var endDate = document.getElementById("endDatePurchased").value;

            // Validate date inputs
            if (!startDate || !endDate) {
                alert("Please fill in both start and end dates.");
                return;
            }

            // Format the URL
            var actionUrl = "/procureapp/items/purchased/" + startDate + "/" + endDate;

            // Set the form's action
            var form = document.getElementById("filterDatePurchasedForm");
            form.action = actionUrl;

            // Submit the form
            form.submit();
        }


        function filterByMaintenanceDate(event) {
            event.preventDefault();

            // Get the start and end dates
            var startDate = document.getElementById("startDateMaintenance").value;
            var endDate = document.getElementById("endDateMaintenance").value;

            // Validate date inputs
            if (!startDate || !endDate) {
                alert("Please fill in both start and end dates.");
                return;
            }

            // Format the URL
            var actionUrl = "/procureapp/items/maintenance-date/" + startDate + "/" + endDate;

            // Set the form's action
            var form = document.getElementById("filterDatePurchasedForm");
            form.action = actionUrl;

            // Submit the form
            form.submit();
        }

</script>
</body>


</html>


