<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/loginn.css">
</head>
<body>
<div class="nav-bar">
    <!-- Navigation bar content (optional) -->
</div>
<div class="login-container">
    <div class="login-modal">
        <h1>Login</h1>
        <form class="form" th:action="@{/procureapp/login}" method="post">
            <div class="form-group">
                <input type="text" id="username" placeholder="Email" name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="password" id="password" placeholder="Password" name="password" class="form-control" required />
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="signup-link">
            <p>Don't have an account? <a th:href="@{/procureapp/signup}">Sign up here</a></p>
        </div>
    </div>
</div>
</body>
</html>
