<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/login.css">
</head>
<body>
<div class="left-half">
    <!-- You can add any content here or leave it empty for a solid color -->
</div>
<div class="right-half">
    <div class="login-modal">
        <h1>Login</h1>
        <form th:action="@{/procureapp/login}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required/>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="signup-link">
            <p>Don't have an account? <a th:href="@{/procureapp/signup}">Sign up here</a></p>
        </div>
    </div>
</div>
</body>
</html>
