<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../static/css/admindashboard.css">
</head>
<body>
<h1>Signup</h1>
<form th:action="@{/procureapp/signup}" th:object="${user}" method="post">
    <div>
        <label>Email:</label>
        <input type="text" th:field="*{email}"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <div>
        <button type="submit">Signup</button>
    </div>
</form>
</body>
</html>
