<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/sign-up.css">
</head>
<body>
<div class="nav-bar">
    <!-- Navigation bar content (optional) -->
</div>
<div class="signup-container">
    <div class="signup-modal">
        <h1>Signup</h1>
        <form th:action="@{/procureapp/signup}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" th:field="*{email}" placeholder="Enter your email" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Enter your password" class="form-control" required />
            </div>
            <button type="submit">Signup</button>
        </form>
    </div>
</div>
</body>
</html>
