<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0E0E52;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IDEAL GROUP OF COMPANIES</a>
        <div class="navbar-nav ml-auto">
            <span class="navbar-text me-3" th:text="${loggedInUserRole}"></span>
            <!-- Add User and Add Item buttons/icons -->
            <a class="material-icons" href="/procureapp/logout"><i class="material-icons">exit_to_app</i></a>
        </div>
    </div>
</nav>



<div class="container mt-4">
    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <input type="text" id="filter" class="form-control" placeholder="Filter Users...">
                <div class="input-group-append">
                    <i class="fas fa-plus add-button" onclick="openAddUserModal()">Add User</i>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${param.success}">
        <div class="alert alert-success" role="alert">
            User added successfully!
        </div>
    </div>

    <div th:if="${param.error}">
        <div class="alert alert-danger" role="alert">
            Failed to add user. Please try again.
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="itemTable">
        <tr th:each="ex_user : ${users}">
            <td th:text="${ex_user.id}"></td>
            <td th:id="'firstName_' + ${ex_user.id}" th:text="${ex_user.firstName}"></td>
            <td th:id="'surname_' + ${ex_user.id}" th:text="${ex_user.surname}"></td>
            <td th:id="'email_' + ${ex_user.id}" th:text="${ex_user.email}"></td>
            <td th:id="'roles_' + ${ex_user.id}" th:text="${ex_user.roles}"></td>
            <td class="table-actions">
                <button th:data-id="${ex_user.id}" onclick="openUpdateModal(this)" class="btn btn-link">
                    <i class="fas fa-edit"></i>
                </button>
                <button th:data-id="${ex_user.id}" onclick="deleteUser(this)" class="btn btn-link">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Form for adding a user -->
                <form th:action="@{/procureapp/add-user}" th:object="${user}" method="post">
                    <!-- Form fields for user details -->
                    <div class="form-group">
                        <input type="text" id="firstName" th:field="*{firstName}" placeholder="Firstname"
                               class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" id="surname" th:field="*{surname}" placeholder="Surname" class="form-control"
                               required/>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" th:field="*{email}" placeholder="Email" class="form-control"
                               required/>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" th:field="*{password}" placeholder="Password"
                               class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <select id="roles" name="roles" class="form-control" required>
                            <option value="">Select Role</option>
                            <option value="ADMIN">Admin</option>
                            <option value="USER">User</option>
                        </select>
                    </div>
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <!-- Close Button -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Update User Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="updateUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserModalLabel">Update User</h5>
            </div>
            <form id="updateUserForm" class="ajax-form" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="updateUserId" name="id"/>
                    <div class="form-group">
                        <label for="updateFirstName">First Name:</label>
                        <input type="text" id="updateFirstName" name="firstName" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="updateSurname">Surname:</label>
                        <input type="text" id="updateSurname" name="surname" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="UpdateEmail">Email:</label>
                        <input type="text" id="UpdateEmail" name="email" required class="form-control"/>
                    </div>
                    <div  th:if="${loggedInUserRole == 'SUPER'}" class="form-group">
                        <select id="UpdateRoles" name="roles" class="form-control" required>
                            <option value="">Select Role</option>
                            <option value="ADMIN">Admin</option>
                            <option value="USER">User</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Error Message Model-->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title " id="errorModalLabel">Warning</h5>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

    function openAddUserModal() {
        $('#addUserModal').modal('show');
    }

    function showErrorModal(message) {
        document.getElementById('errorMessage').innerText = message;
        $('#errorModal').modal('show');
    }

    function openUpdateModal(button) {
        const userId = button.getAttribute('data-id');
        document.getElementById('updateUserId').value = userId;
        const firstName = document.getElementById('firstName_' + userId).innerText.trim();
        const surname = document.getElementById('surname_' + userId).innerText.trim();
        const email = document.getElementById('email_' + userId).innerText.trim();
        const roles = document.getElementById('roles_' + userId).innerText.trim();
        document.getElementById('firstName').value = firstName;
        document.getElementById('surname').value = surname;
        document.getElementById('email').value = email;
        if (roles){
           document.getElementById('roles').value = roles;
        }
        document.getElementById('updateUserForm').action = '/procureapp/user/update?id=' + userId;
        $('#updateUserModal').modal('show');
    }

    async function deleteUser(button) {
        const userId = button.getAttribute('data-id');
        try {
            const response = await fetch('/procureapp/user/delete?id=' + userId, {method: 'POST'});
            if (response.ok) {
                window.location.reload();
            } else {
                if (response.status === 403) {
                    showErrorModal('Only super admins are permitted to delete a user');
                } else {
                    const errorText = await response.text();
                    showErrorModal('Error occurred while processing the request: ' + errorText);
                }
            }
        } catch (error) {
            showErrorModal('Error occurred while processing the request: ' + error);
        }
    }


    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.ajax-form').forEach(form => {
            form.addEventListener('submit', async function (e) {
                e.preventDefault();
                const formData = new FormData(this);
                try {
                    const response = await fetch(this.action, {
                        method: 'POST',
                        body: formData
                    });
                    if (response.ok) {
                        $('.modal').modal('hide');
                        window.location.reload();
                    } else {
                        const errorText = await response.text();
                        console.error(errorText);
                        alert('Error occurred while processing the request: ' + errorText);
                    }
                } catch (error) {
                    console.error(error);
                    alert('Error occurred while processing the request: ' + error);
                }
            });
        });

        document.getElementById('filter').addEventListener('input', function () {
            const filterText = this.value.toLowerCase();
            document.querySelectorAll('#itemTable tr').forEach(row => {
                const firstName = row.querySelector('td:nth-child(1)').innerText.toLowerCase();
                const surname = row.querySelector('td:nth-child(2)').innerText.toLowerCase();
                const email = row.querySelector('td:nth-child(3)').innerText.toLowerCase();
                row.style.display = (firstName.includes(filterText) || surname.includes(filterText) || email.includes(filterText)) ? '' : 'none';
            });
        });
    });
</script>
</body>
</html>
